.branches_container{
    min-height: 100vh;
    width: 100%;
    background-color: #e9f4ff;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
header h1{
    font-size: 2rem;
    color: #000000;
    text-transform: uppercase;
    margin: 0 auto;
    text-shadow: .1rem .1rem .25rem grey;
}
.branches_container main{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem 1rem;
    padding: 1rem;
    margin-top: 5rem;
}
img.menuIcon{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50px;
    padding: .25rem;
    cursor: pointer;
    position: absolute;
    left: 1rem;
}
img.menuIcon:hover{
    background-color: rgb(225, 238, 255);
}
aside{
    background-color: #ffffff;
    width: 15rem;
    height: 100vh;
    border-radius: 0 0 6rem 0;
    position: fixed;
    top: 0;
    left: -15rem;
    left: 0;
    padding-top: 5.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 250ms;
    z-index: 1;
}
aside li{
    padding: 1rem 0;
    width: 15rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
aside li img{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 1rem;
}
aside li:hover{
    background-color: rgb(225, 238, 255);
}
section.addStream{
    width: 50rem;
    height: fit-content;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 6rem;
    top: -40rem;
    transition: 250ms;
    left: calc(50% - 25rem);
}
section.addStream form{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
section.addStream h1{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
button.file_input_button{
    height: 2.5rem;
    width: 100%;
    border-radius: .5rem;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
    border: .1rem solid grey;
    text-align: start;
    cursor: pointer;
}
button{
    font-size: 1rem;
    color: #ffffff;
    background-color: #eb4d4b;
    padding: .65rem 0;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: .5rem 0;
}
.ref_image_display_area_label{
    font-size: 1rem;
    color: #000000;
    margin-bottom: .5rem;
}
.ref_image_display_area{
    width: 30rem;
    aspect-ratio: 2/1;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1rem solid grey;
    margin: 0 auto;
    cursor: pointer;
}
.ref_image_display_area span{
    display: flex;
    align-items: center;
}
.ref_image_display_area span p{
    font-size: 1rem;
    font-weight: 600;
}
.ref_image_display_area span img{
    height: 2rem;
    width: 2rem;
    margin: 0 .5rem;
}
p.stream_name_warn,p.image_upload_warning{
    font-size: 1rem;
    color: #eb4d4b;
    margin-top: .25rem;
    margin-left: auto;
    visibility: hidden;
}